
@font-face {
    font-family: 'ac_lineregular';
    src: url('../fonts/ac_line-webfont.woff2') format('woff2'),
         url('../fonts/ac_line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_blackregular';
    src: url('../fonts/archivoblack-webfont.woff2') format('woff2'),
         url('../fonts/archivoblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('../fonts/HelveticaNeueLTStd-Cn.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('../fonts/HelveticaNeueLTStd-MdCn.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Corbel';
    src: url('../fonts/Corbel.ttf');
    font-weight: normal;
    font-style: normal;

}
